<div class = "row servies-box mt-4">
<div class= "col-md-6 ">
<img src="https://www.webkorps.com/assets/images/aboutus-04.gif" alt="..." class="img-thumbnail">
</div>
<div class= "float-left col-md-6">
<p class="lead"> BASED IN CENTRAL INDIA, WEBKORPS SOLUTIONS HAS EXPERTISE IN PROVIDING ERP AND SOFTWARE DEVELOPMENT SERVICES
Digital and asset-based business solutions that bridge clients execution gap to build stronger, simplified and more innovative businesses..
We are a team of young entrepreneurs who believe in creating a future with the right code.
Our team has some highly skilled coders cum programmers. Focused on our individual clients served by attentive leadership & people who aim relentless pursuit towards achieving better results every time.
Like our name, we emphasize fundamentals to give out a high quality. Customer satisfaction is one of the most crucial things for us and comes first on our priority list.
</p>
</div>
</div>

