<footer id="footer" class="footer-1" >
<div class="main-footer widgets-dark typo-light">
<div class="container">
<div class="row">
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
<footer>
<div class="footer-content">
<p>&copy; </p>
<div>
<ul>
<li>
<div class="thumb-content "><a href="https://www.linkedin.com/company/webkorps/">LinkedIn</a></div>  
</li>
<li>
<div class="thumb-content "><a href="https://www.instagram.com/webkorps/">Instgram</a></div> 
</li>
<li>
<div class="thumb-content "><a href="https://www.webkorps.com/#/AboutUs">About</a></div> 
</li>
</div>
</footer>
</div>
  </div>
</div>
</div>
  </div>

</footer>